h1,
h2,
h3,
h4 {
  color: green;
  font-style: italic;
}

a {
  color: dimgray;
}

b,
th,
a:visited {
  color: darkgreen;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

iframe {
  display: none;
}
