h1, h2, h3, h4 {
  color: green;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  color: black;
  background: white;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.navbar {
  padding: 5;
  background-color: lightgrey;
  color: black;
}

iframe {
    display: none;
}