h1,
h2,
h3,
h4,
th {
  color: dodgerblue;
  font-style: italic;
}

b {
  color: royalblue;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: dodgerblue;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

iframe {
  display: none;
}