
h1, h2, h3, h4, h5, em {
  padding: 15px;
}

a {
  text-decoration: none;
}

.note {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-form, .login-form, .logup-form, .name-form, .username-form, .password-form, .delete-form {
  padding: 15px;
}

.props-button, .cancel-button, .newblog-button, .login-button, .logup-button, .change-button, .delete-button {
  left: 15px;
}

.blog {
  color: dodgerblue;
  background: white;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

iframe {
    display: none;
}