h1,
h2,
h3,
h4,
h5,
em {
  padding: 15px;
}

a {
  text-decoration: none;
}

.blog-form,
.login-form,
.logup-form,
.name-form,
.username-form,
.password-form,
.delete-form,
.comment-form,
.blog-list,
.user-list,
.blog-view,
.user-view,
.notification {
  padding: 15px;
}

.props-button,
.cancel-button,
.newblog-button,
.login-button,
.logup-button,
.change-button,
.delete-button,
.add-button,
.back-button {
  left: 15px;
}

iframe {
  display: none;
}
